QFrame {
    background-color: #1a237e;
    border: none;
}
QPushButton {
    background-color: transparent;
    color: white;
    text-align: left;
    padding: 15px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-left: 4px solid transparent;
}
QPushButton:hover {
    background-color: #001eff;
    border-left: 4px solid #f66464;
}
QPushButton:pressed {
    background-color: #0d1445;
}
QPushButton[active="true"] {
    background-color: #283593;
    border-left: 4px solid #64b5f6;
}

QLabel {
    color: white;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #64b5f6;
    background-color: #0d1445;
}

QLabel#version_label {
    color: #7986cb; 
    padding: 5px 0; 
    font-size: 10px;
}